 @charset "UTF-8";
:where(html,
body,
p) {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-color: var(--pf-t--global--border--color--default) transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--pf-t--global--border--color--default);
  border-radius: var(--pf-t--global--spacer--xs);
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar {
  max-width: var(--pf-t--global--spacer--sm);
  max-height: var(--pf-t--global--spacer--sm);
}

:where(html,
body) {
  height: 100%;
}

:where(body) {
  font-family: var(--pf-t--global--font--family--body);
  font-size: var(--pf-t--global--font--size--body--default);
  font-weight: var(--pf-t--global--font--weight--body--default);
  line-height: var(--pf-t--global--font--line-height--body);
  color: var(--pf-t--global--text--color--regular);
}

:where(img) {
  max-width: 100%;
  height: auto;
}

:where(a) {
  color: var(--pf-t--global--text--color--link--default);
  text-decoration: var(--pf-t--global--text-decoration--link--line--default);
}

:where(a:hover, a:focus) {
  color: var(--pf-t--global--text--color--link--hover);
  text-decoration: var(--pf-t--global--text-decoration--link--line--hover);
}

:where(a) {
  cursor: pointer;
}

:where(.pf-v6-theme-dark) {
  color-scheme: dark;
}












:root {
  --pf-t--color--blue--10: #e0f0ff;
  --pf-t--color--blue--20: #b9dafc;
  --pf-t--color--blue--50: #0066cc;
  --pf-t--color--blue--60: #004d99;
  --pf-t--color--gray--10: #f2f2f2;
  --pf-t--color--gray--30: #c7c7c7;
  --pf-t--color--gray--40: #a3a3a3;
  --pf-t--color--gray--80: #292929;
  --pf-t--color--gray--90: #1f1f1f;
  --pf-t--color--gray--95: #151515;
  --pf-t--color--red-orange--50: #f0561d;
  --pf-t--color--red-orange--60: #b1380b;
  --pf-t--color--white: #ffffff;
  --pf-t--global--border--radius--400: 24px;
  --pf-t--global--font--family--100: "Red Hat Text", "RedHatText", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Helvetica, Arial, sans-serif;
  --pf-t--global--font--line-height--200: 1.5;
  --pf-t--global--font--size--100: 0.75rem;
  --pf-t--global--font--size--200: 0.875rem;
  --pf-t--global--font--weight--100: 400;
  --pf-t--global--font--weight--200: 500;
  --pf-t--global--spacer--100: 0.25rem;
  --pf-t--global--spacer--200: 0.5rem;
  --pf-t--global--spacer--300: 1rem;
  --pf-t--global--spacer--400: 1.5rem;
  --pf-t--global--spacer--500: 2rem;
  --pf-t--global--spacer--600: 3rem;
  --pf-t--global--spacer--700: 4rem;
  --pf-t--global--text-decoration--line--200: underline;
  --pf-t--global--background--color--100: var(--pf-t--color--white);
  --pf-t--global--border--color--100: var(--pf-t--color--gray--30);
  --pf-t--global--border--radius--large: var(--pf-t--global--border--radius--400);
  --pf-t--global--color--status--danger--100: var(--pf-t--color--red-orange--60);
  --pf-t--global--font--family--body: var(--pf-t--global--font--family--100);
  --pf-t--global--font--line-height--body: var(--pf-t--global--font--line-height--200);
  --pf-t--global--font--size--sm: var(--pf-t--global--font--size--200);
  --pf-t--global--font--size--xs: var(--pf-t--global--font--size--100);
  --pf-t--global--font--weight--body--bold: var(--pf-t--global--font--weight--200);
  --pf-t--global--font--weight--body--default: var(--pf-t--global--font--weight--100);
  --pf-t--global--icon--color--100: var(--pf-t--color--gray--90);
  --pf-t--global--spacer--2xl: var(--pf-t--global--spacer--600);
  --pf-t--global--spacer--3xl: var(--pf-t--global--spacer--700);
  --pf-t--global--spacer--lg: var(--pf-t--global--spacer--400);
  --pf-t--global--spacer--md: var(--pf-t--global--spacer--300);
  --pf-t--global--spacer--sm: var(--pf-t--global--spacer--200);
  --pf-t--global--spacer--xl: var(--pf-t--global--spacer--500);
  --pf-t--global--spacer--xs: var(--pf-t--global--spacer--100);
  --pf-t--global--text--color--100: var(--pf-t--color--gray--95);
  --pf-t--global--text--color--link--100: var(--pf-t--color--blue--50);
  --pf-t--global--text--color--link--200: var(--pf-t--color--blue--60);
  --pf-t--global--text-decoration--link--line--default: var(--pf-t--global--text-decoration--line--200);
  --pf-t--global--text-decoration--link--line--hover: var(--pf-t--global--text-decoration--line--200);
  --pf-t--global--background--color--primary--default: var(--pf-t--global--background--color--100);
  --pf-t--global--border--color--default: var(--pf-t--global--border--color--100);
  --pf-t--global--color--status--danger--default: var(--pf-t--global--color--status--danger--100);
  --pf-t--global--font--size--body--default: var(--pf-t--global--font--size--sm);
  --pf-t--global--font--size--body--sm: var(--pf-t--global--font--size--xs);
  --pf-t--global--icon--color--regular: var(--pf-t--global--icon--color--100);
  --pf-t--global--text--color--link--default: var(--pf-t--global--text--color--link--100);
  --pf-t--global--text--color--link--hover: var(--pf-t--global--text--color--link--200);
  --pf-t--global--text--color--regular: var(--pf-t--global--text--color--100);
  --pf-t--global--icon--color--status--danger--default: var(--pf-t--global--color--status--danger--default);
}

:root:where(.pf-v6-theme-dark) {
  --pf-t--global--dark--background--color--200: var(--pf-t--color--gray--80);
  --pf-t--global--dark--border--color--200: var(--pf-t--color--gray--40);
  --pf-t--global--dark--color--status--danger--100: var(--pf-t--color--red-orange--50);
  --pf-t--global--dark--icon--color--100: var(--pf-t--color--gray--10);
  --pf-t--global--dark--text--color--100: var(--pf-t--color--white);
  --pf-t--global--dark--text--color--link--100: var(--pf-t--color--blue--20);
  --pf-t--global--dark--text--color--link--200: var(--pf-t--color--blue--10);
  --pf-t--global--background--color--primary--default: var(--pf-t--global--dark--background--color--200);
  --pf-t--global--border--color--default: var(--pf-t--global--dark--border--color--200);
  --pf-t--global--color--status--danger--default: var(--pf-t--global--dark--color--status--danger--100);
  --pf-t--global--icon--color--regular: var(--pf-t--global--dark--icon--color--100);
  --pf-t--global--text--color--link--default: var(--pf-t--global--dark--text--color--link--100);
  --pf-t--global--text--color--link--hover: var(--pf-t--global--dark--text--color--link--200);
  --pf-t--global--text--color--regular: var(--pf-t--global--dark--text--color--100);
  --pf-t--global--icon--color--status--danger--default: var(--pf-t--global--color--status--danger--default);
}

.pf-v6-c-background-image {
  --pf-v6-c-background-image--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --pf-v6-c-background-image--BackgroundImage: none;
  --pf-v6-c-background-image--BackgroundSize--min-width: 200px;
  --pf-v6-c-background-image--BackgroundSize--width: 60%;
  --pf-v6-c-background-image--BackgroundSize--max-width: 600px;
  --pf-v6-c-background-image--BackgroundSize: clamp(var(--pf-v6-c-background-image--BackgroundSize--min-width), var(--pf-v6-c-background-image--BackgroundSize--width), var(--pf-v6-c-background-image--BackgroundSize--max-width));
}

.pf-v6-c-background-image {
  --pf-v6-c-background-image--BackgroundPosition: bottom right;
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--pf-v6-c-background-image--BackgroundColor);
  background-image: var(--pf-v6-c-background-image--BackgroundImage);
  background-repeat: no-repeat;
  background-position: var(--pf-v6-c-background-image--BackgroundPosition);
  background-size: var(--pf-v6-c-background-image--BackgroundSize);
}

.pf-v6-c-brand {
  --pf-v6-c-brand--Width: auto;
  --pf-v6-c-brand--Height: auto;
}

.pf-v6-c-brand {
  width: var(--pf-v6-c-brand--Width--base);
  height: var(--pf-v6-c-brand--Height--base);
  --pf-v6-c-brand--Width--base: var(--pf-v6-c-brand--Width);
  --pf-v6-c-brand--Height--base: var(--pf-v6-c-brand--Height);
}
@media (min-width: 36rem) {
  .pf-v6-c-brand {
    --pf-v6-c-brand--Width--base: var(--pf-v6-c-brand--Width-on-sm, var(--pf-v6-c-brand--Width));
  }
}
@media (min-width: 48rem) {
  .pf-v6-c-brand {
    --pf-v6-c-brand--Width--base: var(--pf-v6-c-brand--Width-on-md, var(--pf-v6-c-brand--Width-on-sm, var(--pf-v6-c-brand--Width)));
  }
}
@media (min-width: 62rem) {
  .pf-v6-c-brand {
    --pf-v6-c-brand--Width--base: var(--pf-v6-c-brand--Width-on-lg, var(--pf-v6-c-brand--Width-on-md, var(--pf-v6-c-brand--Width-on-sm, var(--pf-v6-c-brand--Width))));
  }
}
@media (min-width: 75rem) {
  .pf-v6-c-brand {
    --pf-v6-c-brand--Width--base: var(--pf-v6-c-brand--Width-on-xl, var(--pf-v6-c-brand--Width-on-lg, var(--pf-v6-c-brand--Width-on-md, var(--pf-v6-c-brand--Width-on-sm, var(--pf-v6-c-brand--Width)))));
  }
}
@media (min-width: 90.625rem) {
  .pf-v6-c-brand {
    --pf-v6-c-brand--Width--base: var(--pf-v6-c-brand--Width-on-2xl, var(--pf-v6-c-brand--Width-on-xl, var(--pf-v6-c-brand--Width-on-lg, var(--pf-v6-c-brand--Width-on-md, var(--pf-v6-c-brand--Width-on-sm, var(--pf-v6-c-brand--Width))))));
  }
}
@media (min-width: 36rem) {
  .pf-v6-c-brand {
    --pf-v6-c-brand--Height--base: var(--pf-v6-c-brand--Height-on-sm, var(--pf-v6-c-brand--Height));
  }
}
@media (min-width: 48rem) {
  .pf-v6-c-brand {
    --pf-v6-c-brand--Height--base: var(--pf-v6-c-brand--Height-on-md, var(--pf-v6-c-brand--Height-on-sm, var(--pf-v6-c-brand--Height)));
  }
}
@media (min-width: 62rem) {
  .pf-v6-c-brand {
    --pf-v6-c-brand--Height--base: var(--pf-v6-c-brand--Height-on-lg, var(--pf-v6-c-brand--Height-on-md, var(--pf-v6-c-brand--Height-on-sm, var(--pf-v6-c-brand--Height))));
  }
}
@media (min-width: 75rem) {
  .pf-v6-c-brand {
    --pf-v6-c-brand--Height--base: var(--pf-v6-c-brand--Height-on-xl, var(--pf-v6-c-brand--Height-on-lg, var(--pf-v6-c-brand--Height-on-md, var(--pf-v6-c-brand--Height-on-sm, var(--pf-v6-c-brand--Height)))));
  }
}
@media (min-width: 90.625rem) {
  .pf-v6-c-brand {
    --pf-v6-c-brand--Height--base: var(--pf-v6-c-brand--Height-on-2xl, var(--pf-v6-c-brand--Height-on-xl, var(--pf-v6-c-brand--Height-on-lg, var(--pf-v6-c-brand--Height-on-md, var(--pf-v6-c-brand--Height-on-sm, var(--pf-v6-c-brand--Height))))));
  }
}

:root {
}

.pf-v6-c-form__helper-text {
  margin-block-start: var(--pf-v6-c-form__helper-text--MarginBlockStart);
}

.pf-v6-c-helper-text {
  --pf-v6-c-helper-text--Gap: var(--pf-t--global--spacer--xs);
  --pf-v6-c-helper-text--FontSize: var(--pf-t--global--font--size--body--sm);
  --pf-v6-c-helper-text__item-icon--Color: var(--pf-t--global--icon--color--regular);
  --pf-v6-c-helper-text__item-text--FontWeight: var(--pf-t--global--font--weight--body--default);
  --pf-v6-c-helper-text__item-icon--m-error--Color: var(--pf-t--global--icon--color--status--danger--default);
  --pf-v6-c-helper-text__item-text--m-error--FontWeight: var(--pf-t--global--font--weight--body--bold);
  --pf-v6-c-helper-text__item-icon--MarginInlineEnd: var(--pf-t--global--spacer--xs);
}

.pf-v6-c-helper-text {
  display: grid;
  gap: var(--pf-v6-c-helper-text--Gap);
  font-size: var(--pf-v6-c-helper-text--FontSize);
}

.pf-v6-c-helper-text__item {
  display: flex;
  font-weight: var(--pf-v6-c-helper-text__item-text--FontWeight);
}
.pf-v6-c-helper-text__item.pf-m-error {
  --pf-v6-c-helper-text__item-text--FontWeight: var(--pf-v6-c-helper-text__item-text--m-error--FontWeight);
  --pf-v6-c-helper-text__item-icon--Color: var(--pf-v6-c-helper-text__item-icon--m-error--Color);
}

.pf-v6-c-helper-text__item-icon {
  margin-inline-end: var(--pf-v6-c-helper-text__item-icon--MarginInlineEnd);
  color: var(--pf-v6-c-helper-text__item-icon--Color);
}

.pf-v6-c-login {
  --pf-v6-c-login--PaddingBlockStart: var(--pf-t--global--spacer--lg);
  --pf-v6-c-login--PaddingBlockEnd: var(--pf-t--global--spacer--lg);
  --pf-v6-c-login__container--xl--GridColumnGap: var(--pf-t--global--spacer--3xl);
  --pf-v6-c-login__container--MaxWidth: 31.25rem;
  --pf-v6-c-login__container--xl--MaxWidth: none;
  --pf-v6-c-login__container--PaddingInlineStart: 6.125rem;
  --pf-v6-c-login__container--PaddingInlineEnd: 6.125rem;
  --pf-v6-c-login__container--xl--GridTemplateColumns: 34rem minmax(auto, 34rem);
  --pf-v6-c-login__header--PaddingInlineStart: var(--pf-t--global--spacer--md);
  --pf-v6-c-login__header--PaddingInlineEnd: var(--pf-t--global--spacer--md);
  --pf-v6-c-login__header--xl--MarginBlockStart: var(--pf-t--global--spacer--3xl);
  --pf-v6-c-login__header--c-brand--MarginBlockEnd: var(--pf-t--global--spacer--lg);
  --pf-v6-c-login__header--c-brand--xl--MarginBlockEnd: var(--pf-t--global--spacer--2xl);
  --pf-v6-c-login__main--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --pf-v6-c-login__main--MarginBlockEnd: var(--pf-t--global--spacer--lg);
  --pf-v6-c-login__main--BorderRadius: var(--pf-t--global--border--radius--large);
  --pf-v6-c-login__main-header--PaddingBlockStart: var(--pf-t--global--spacer--2xl);
  --pf-v6-c-login__main-body--PaddingInlineEnd: var(--pf-t--global--spacer--xl);
  --pf-v6-c-login__main-body--PaddingBlockEnd: var(--pf-t--global--spacer--xl);
  --pf-v6-c-login__main-body--PaddingInlineStart: var(--pf-t--global--spacer--xl);
  --pf-v6-c-login__main-body--md--PaddingInlineEnd: var(--pf-t--global--spacer--2xl);
  --pf-v6-c-login__main-body--md--PaddingInlineStart: var(--pf-t--global--spacer--2xl);
  --pf-v6-c-login__main-footer--PaddingBlockEnd: var(--pf-t--global--spacer--3xl);
}
@media (min-width: 75rem) {
  .pf-v6-c-login {
    --pf-v6-c-login__container--MaxWidth: var(--pf-v6-c-login__container--xl--MaxWidth);
  }
}
@media (min-width: 36rem) {
  .pf-v6-c-login {
    --pf-v6-c-login__header--PaddingInlineEnd: 0;
    --pf-v6-c-login__header--PaddingInlineStart: 0;
  }
}
@media (min-width: 75rem) {
  .pf-v6-c-login {
    --pf-v6-c-login__header--c-brand--MarginBlockEnd: var(--pf-v6-c-login__header--c-brand--xl--MarginBlockEnd);
  }
}
@media (min-width: 75rem) {
  .pf-v6-c-login {
    --pf-v6-c-login__main--MarginBlockEnd: 0;
  }
}
@media (min-width: 48rem) {
  .pf-v6-c-login {
  }
}
@media (min-width: 48rem) {
  .pf-v6-c-login {
    --pf-v6-c-login__main-body--PaddingInlineEnd: var(--pf-v6-c-login__main-body--md--PaddingInlineEnd);
    --pf-v6-c-login__main-body--PaddingInlineStart: var(--pf-v6-c-login__main-body--md--PaddingInlineStart);
  }
}
@media (min-width: 36rem) {
  .pf-v6-c-login {
  }
}
@media (min-width: 75rem) {
  .pf-v6-c-login {
  }
}

.pf-v6-c-login {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-block-start: var(--pf-v6-c-login--PaddingBlockStart);
  padding-block-end: var(--pf-v6-c-login--PaddingBlockEnd);
}
@media (min-width: 36rem) {
  .pf-v6-c-login {
    align-items: center;
  }
}

.pf-v6-c-login__container {
  width: 100%;
  max-width: var(--pf-v6-c-login__container--MaxWidth);
}
@media (min-width: 75rem) {
  .pf-v6-c-login__container {
    display: grid;
    grid-template-areas: "main header" "main footer" "main .";
    grid-template-columns: var(--pf-v6-c-login__container--xl--GridTemplateColumns);
    grid-column-gap: var(--pf-v6-c-login__container--xl--GridColumnGap);
    justify-content: center;
    padding-inline-start: var(--pf-v6-c-login__container--PaddingInlineStart);
    padding-inline-end: var(--pf-v6-c-login__container--PaddingInlineEnd);
  }
}

.pf-v6-c-login__header {
  grid-area: header;
  padding-inline-start: var(--pf-v6-c-login__header--PaddingInlineStart);
  padding-inline-end: var(--pf-v6-c-login__header--PaddingInlineEnd);
}
@media (min-width: 75rem) {
  .pf-v6-c-login__header {
    margin-block-start: var(--pf-v6-c-login__header--xl--MarginBlockStart);
  }
}
.pf-v6-c-login__header .pf-v6-c-brand {
  margin-block-end: var(--pf-v6-c-login__header--c-brand--MarginBlockEnd);
}

.pf-v6-c-login__main {
  grid-area: main;
  align-self: start;
  margin-block-end: var(--pf-v6-c-login__main--MarginBlockEnd);
  background-color: var(--pf-v6-c-login__main--BackgroundColor);
  border-radius: var(--pf-v6-c-login__main--BorderRadius);
}
.pf-v6-c-login__main > :first-child:not(.pf-v6-c-login__main-header) {
  padding-block-start: var(--pf-v6-c-login__main-header--PaddingBlockStart);
}
.pf-v6-c-login__main > :last-child:not(.pf-v6-c-login__main-footer) {
  padding-block-end: var(--pf-v6-c-login__main-footer--PaddingBlockEnd);
}

.pf-v6-c-login__main-body {
  padding-block-end: var(--pf-v6-c-login__main-body--PaddingBlockEnd);
  padding-inline-start: var(--pf-v6-c-login__main-body--PaddingInlineStart);
  padding-inline-end: var(--pf-v6-c-login__main-body--PaddingInlineEnd);
} 