 @charset "UTF-8";
:where(html,
body,
p,
h1) {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-color: var(--pf-t--global--border--color--default) transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--pf-t--global--border--color--default);
  border-radius: var(--pf-t--global--spacer--xs);
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar {
  max-width: var(--pf-t--global--spacer--sm);
  max-height: var(--pf-t--global--spacer--sm);
}

:where(html,
body) {
  height: 100%;
}

:where(body) {
  font-family: var(--pf-t--global--font--family--body);
  font-size: var(--pf-t--global--font--size--body--default);
  font-weight: var(--pf-t--global--font--weight--body--default);
  line-height: var(--pf-t--global--font--line-height--body);
  color: var(--pf-t--global--text--color--regular);
}

:where(h1) {
  font-size: 100%;
  font-weight: var(--pf-t--global--font--weight--body--default);
}

:where(button,
input) {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: var(--pf-t--global--font--line-height--body);
  color: var(--pf-t--global--text--color--regular);
}

:where(img) {
  max-width: 100%;
  height: auto;
}

:where(a) {
  color: var(--pf-t--global--text--color--link--default);
  text-decoration: var(--pf-t--global--text-decoration--link--line--default);
}

:where(a:hover, a:focus) {
  color: var(--pf-t--global--text--color--link--hover);
  text-decoration: var(--pf-t--global--text-decoration--link--line--hover);
}

:where(a,
button) {
  cursor: pointer;
}

:where(.pf-v6-theme-dark) {
  color-scheme: dark;
}












:root {
  --pf-t--color--blue--10: #e0f0ff;
  --pf-t--color--blue--20: #b9dafc;
  --pf-t--color--blue--30: #92c5f9;
  --pf-t--color--blue--40: #4394e5;
  --pf-t--color--blue--50: #0066cc;
  --pf-t--color--blue--60: #004d99;
  --pf-t--color--gray--10: #f2f2f2;
  --pf-t--color--gray--30: #c7c7c7;
  --pf-t--color--gray--40: #a3a3a3;
  --pf-t--color--gray--60: #4d4d4d;
  --pf-t--color--gray--70: #383838;
  --pf-t--color--gray--80: #292929;
  --pf-t--color--gray--90: #1f1f1f;
  --pf-t--color--gray--95: #151515;
  --pf-t--color--red-orange--40: #f4784a;
  --pf-t--color--red-orange--50: #f0561d;
  --pf-t--color--red-orange--60: #b1380b;
  --pf-t--color--red-orange--70: #731f00;
  --pf-t--color--white: #ffffff;
  --pf-t--global--border--radius--200: 6px;
  --pf-t--global--border--radius--400: 24px;
  --pf-t--global--border--radius--500: 999px;
  --pf-t--global--border--width--100: 1px;
  --pf-t--global--border--width--200: 2px;
  --pf-t--global--duration--200: 200ms;
  --pf-t--global--font--family--100: "Red Hat Text", "RedHatText", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Helvetica, Arial, sans-serif;
  --pf-t--global--font--family--200: "Red Hat Display", "RedHatDisplay", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans JP", "Noto Sans KR", "Noto Sans Malayalam", "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", Helvetica, Arial, sans-serif;
  --pf-t--global--font--line-height--100: 1.3;
  --pf-t--global--font--line-height--200: 1.5;
  --pf-t--global--font--size--100: 0.75rem;
  --pf-t--global--font--size--200: 0.875rem;
  --pf-t--global--font--size--300: 1rem;
  --pf-t--global--font--size--700: 1.75rem;
  --pf-t--global--font--weight--100: 400;
  --pf-t--global--font--weight--200: 500;
  --pf-t--global--font--weight--300: 500;
  --pf-t--global--icon--size--250: 1rem;
  --pf-t--global--icon--size--400: 3.5rem;
  --pf-t--global--spacer--100: 0.25rem;
  --pf-t--global--spacer--200: 0.5rem;
  --pf-t--global--spacer--300: 1rem;
  --pf-t--global--spacer--400: 1.5rem;
  --pf-t--global--spacer--500: 2rem;
  --pf-t--global--spacer--600: 3rem;
  --pf-t--global--spacer--700: 4rem;
  --pf-t--global--text-decoration--line--200: underline;
  --pf-t--global--timing-function--200: cubic-bezier(.4, 0, .2, 1);
  --pf-t--global--background--color--100: var(--pf-t--color--white);
  --pf-t--global--background--color--200: var(--pf-t--color--gray--10);
  --pf-t--global--border--color--100: var(--pf-t--color--gray--30);
  --pf-t--global--border--radius--large: var(--pf-t--global--border--radius--400);
  --pf-t--global--border--radius--pill: var(--pf-t--global--border--radius--500);
  --pf-t--global--border--radius--small: var(--pf-t--global--border--radius--200);
  --pf-t--global--border--width--action--default: var(--pf-t--global--border--width--100);
  --pf-t--global--border--width--action--hover: var(--pf-t--global--border--width--200);
  --pf-t--global--border--width--control--default: var(--pf-t--global--border--width--100);
  --pf-t--global--border--width--control--hover: var(--pf-t--global--border--width--100);
  --pf-t--global--color--brand--100: var(--pf-t--color--blue--40);
  --pf-t--global--color--brand--200: var(--pf-t--color--blue--50);
  --pf-t--global--color--brand--300: var(--pf-t--color--blue--60);
  --pf-t--global--color--disabled--100: var(--pf-t--color--gray--30);
  --pf-t--global--color--disabled--300: var(--pf-t--color--gray--60);
  --pf-t--global--color--status--danger--100: var(--pf-t--color--red-orange--60);
  --pf-t--global--color--status--danger--200: var(--pf-t--color--red-orange--70);
  --pf-t--global--font--family--body: var(--pf-t--global--font--family--100);
  --pf-t--global--font--family--heading: var(--pf-t--global--font--family--200);
  --pf-t--global--font--line-height--body: var(--pf-t--global--font--line-height--200);
  --pf-t--global--font--line-height--heading: var(--pf-t--global--font--line-height--100);
  --pf-t--global--font--size--3xl: var(--pf-t--global--font--size--700);
  --pf-t--global--font--size--md: var(--pf-t--global--font--size--300);
  --pf-t--global--font--size--sm: var(--pf-t--global--font--size--200);
  --pf-t--global--font--size--xs: var(--pf-t--global--font--size--100);
  --pf-t--global--font--weight--body--bold: var(--pf-t--global--font--weight--200);
  --pf-t--global--font--weight--body--default: var(--pf-t--global--font--weight--100);
  --pf-t--global--font--weight--heading--default: var(--pf-t--global--font--weight--300);
  --pf-t--global--icon--color--100: var(--pf-t--color--gray--90);
  --pf-t--global--icon--color--300: var(--pf-t--color--white);
  --pf-t--global--icon--size--2xl: var(--pf-t--global--icon--size--400);
  --pf-t--global--icon--size--lg: var(--pf-t--global--icon--size--250);
  --pf-t--global--motion--duration--md: var(--pf-t--global--duration--200);
  --pf-t--global--motion--timing-function--default: var(--pf-t--global--timing-function--200);
  --pf-t--global--spacer--2xl: var(--pf-t--global--spacer--600);
  --pf-t--global--spacer--3xl: var(--pf-t--global--spacer--700);
  --pf-t--global--spacer--lg: var(--pf-t--global--spacer--400);
  --pf-t--global--spacer--md: var(--pf-t--global--spacer--300);
  --pf-t--global--spacer--sm: var(--pf-t--global--spacer--200);
  --pf-t--global--spacer--xl: var(--pf-t--global--spacer--500);
  --pf-t--global--spacer--xs: var(--pf-t--global--spacer--100);
  --pf-t--global--text--color--100: var(--pf-t--color--gray--95);
  --pf-t--global--text--color--200: var(--pf-t--color--gray--60);
  --pf-t--global--text--color--300: var(--pf-t--color--white);
  --pf-t--global--text--color--link--100: var(--pf-t--color--blue--50);
  --pf-t--global--text--color--link--200: var(--pf-t--color--blue--60);
  --pf-t--global--text-decoration--link--line--default: var(--pf-t--global--text-decoration--line--200);
  --pf-t--global--text-decoration--link--line--hover: var(--pf-t--global--text-decoration--line--200);
  --pf-t--global--background--color--disabled--default: var(--pf-t--global--color--disabled--100);
  --pf-t--global--background--color--primary--default: var(--pf-t--global--background--color--100);
  --pf-t--global--background--color--secondary--default: var(--pf-t--global--background--color--200);
  --pf-t--global--border--color--default: var(--pf-t--global--border--color--100);
  --pf-t--global--border--color--hover: var(--pf-t--global--color--brand--100);
  --pf-t--global--color--brand--default: var(--pf-t--global--color--brand--200);
  --pf-t--global--color--brand--hover: var(--pf-t--global--color--brand--300);
  --pf-t--global--color--status--danger--default: var(--pf-t--global--color--status--danger--100);
  --pf-t--global--color--status--danger--hover: var(--pf-t--global--color--status--danger--200);
  --pf-t--global--font--size--body--default: var(--pf-t--global--font--size--sm);
  --pf-t--global--font--size--body--sm: var(--pf-t--global--font--size--xs);
  --pf-t--global--icon--color--inverse: var(--pf-t--global--icon--color--300);
  --pf-t--global--icon--color--regular: var(--pf-t--global--icon--color--100);
  --pf-t--global--motion--duration--fade--default: var(--pf-t--global--motion--duration--md);
  --pf-t--global--spacer--action--horizontal--default: var(--pf-t--global--spacer--lg);
  --pf-t--global--spacer--control--horizontal--default: var(--pf-t--global--spacer--md);
  --pf-t--global--spacer--control--vertical--default: var(--pf-t--global--spacer--sm);
  --pf-t--global--spacer--gap--group--vertical: var(--pf-t--global--spacer--sm);
  --pf-t--global--spacer--gap--group-to-group--vertical--default: var(--pf-t--global--spacer--lg);
  --pf-t--global--spacer--gap--text-to-element--default: var(--pf-t--global--spacer--sm);
  --pf-t--global--text--color--inverse: var(--pf-t--global--text--color--300);
  --pf-t--global--text--color--link--default: var(--pf-t--global--text--color--link--100);
  --pf-t--global--text--color--link--hover: var(--pf-t--global--text--color--link--200);
  --pf-t--global--text--color--on-disabled: var(--pf-t--global--color--disabled--300);
  --pf-t--global--text--color--regular: var(--pf-t--global--text--color--100);
  --pf-t--global--text--color--subtle: var(--pf-t--global--text--color--200);
  --pf-t--global--background--color--control--default: var(--pf-t--global--background--color--primary--default);
  --pf-t--global--border--color--status--danger--default: var(--pf-t--global--color--status--danger--default);
  --pf-t--global--border--color--status--danger--hover: var(--pf-t--global--color--status--danger--hover);
  --pf-t--global--icon--color--brand--default: var(--pf-t--global--color--brand--default);
  --pf-t--global--icon--color--on-brand--default: var(--pf-t--global--icon--color--inverse);
  --pf-t--global--icon--color--on-brand--hover: var(--pf-t--global--icon--color--inverse);
  --pf-t--global--icon--color--status--danger--default: var(--pf-t--global--color--status--danger--default);
  --pf-t--global--icon--size--font--body--default: var(--pf-t--global--font--size--body--default);
  --pf-t--global--text--color--on-brand--default: var(--pf-t--global--text--color--inverse);
  --pf-t--global--text--color--on-brand--hover: var(--pf-t--global--text--color--inverse);
  --pf-t--global--text--color--placeholder: var(--pf-t--global--text--color--subtle);
  --pf-t--global--font--size--heading--xs: var(--pf-t--global--font--size--md);
  --pf-t--global--font--size--heading--xl: var(--pf-t--global--font--size--3xl);
}

:root:where(.pf-v6-theme-dark) {
  --pf-t--global--dark--background--color--100: var(--pf-t--color--gray--95);
  --pf-t--global--dark--background--color--200: var(--pf-t--color--gray--80);
  --pf-t--global--dark--background--color--300: var(--pf-t--color--gray--70);
  --pf-t--global--dark--border--color--200: var(--pf-t--color--gray--40);
  --pf-t--global--dark--color--brand--100: var(--pf-t--color--blue--30);
  --pf-t--global--dark--color--brand--200: var(--pf-t--color--blue--20);
  --pf-t--global--dark--color--disabled--100: var(--pf-t--color--gray--40);
  --pf-t--global--dark--color--disabled--300: var(--pf-t--color--gray--70);
  --pf-t--global--dark--color--status--danger--100: var(--pf-t--color--red-orange--50);
  --pf-t--global--dark--color--status--danger--200: var(--pf-t--color--red-orange--40);
  --pf-t--global--dark--icon--color--100: var(--pf-t--color--gray--10);
  --pf-t--global--dark--icon--color--300: var(--pf-t--color--gray--90);
  --pf-t--global--dark--text--color--100: var(--pf-t--color--white);
  --pf-t--global--dark--text--color--200: var(--pf-t--color--gray--30);
  --pf-t--global--dark--text--color--300: var(--pf-t--color--gray--90);
  --pf-t--global--dark--text--color--link--100: var(--pf-t--color--blue--20);
  --pf-t--global--dark--text--color--link--200: var(--pf-t--color--blue--10);
  --pf-t--global--background--color--control--default: var(--pf-t--global--dark--background--color--300);
  --pf-t--global--background--color--disabled--default: var(--pf-t--global--dark--color--disabled--100);
  --pf-t--global--background--color--primary--default: var(--pf-t--global--dark--background--color--200);
  --pf-t--global--background--color--secondary--default: var(--pf-t--global--dark--background--color--100);
  --pf-t--global--border--color--default: var(--pf-t--global--dark--border--color--200);
  --pf-t--global--border--color--hover: var(--pf-t--global--dark--color--brand--100);
  --pf-t--global--color--brand--default: var(--pf-t--global--dark--color--brand--100);
  --pf-t--global--color--brand--hover: var(--pf-t--global--dark--color--brand--200);
  --pf-t--global--color--status--danger--default: var(--pf-t--global--dark--color--status--danger--100);
  --pf-t--global--color--status--danger--hover: var(--pf-t--global--dark--color--status--danger--200);
  --pf-t--global--icon--color--brand--default: var(--pf-t--global--dark--color--brand--200);
  --pf-t--global--icon--color--inverse: var(--pf-t--global--dark--icon--color--300);
  --pf-t--global--icon--color--regular: var(--pf-t--global--dark--icon--color--100);
  --pf-t--global--text--color--inverse: var(--pf-t--global--dark--text--color--300);
  --pf-t--global--text--color--link--default: var(--pf-t--global--dark--text--color--link--100);
  --pf-t--global--text--color--link--hover: var(--pf-t--global--dark--text--color--link--200);
  --pf-t--global--text--color--on-disabled: var(--pf-t--global--dark--color--disabled--300);
  --pf-t--global--text--color--regular: var(--pf-t--global--dark--text--color--100);
  --pf-t--global--text--color--subtle: var(--pf-t--global--dark--text--color--200);
  --pf-t--global--border--color--status--danger--default: var(--pf-t--global--color--status--danger--default);
  --pf-t--global--border--color--status--danger--hover: var(--pf-t--global--color--status--danger--hover);
  --pf-t--global--icon--color--on-brand--default: var(--pf-t--global--icon--color--inverse);
  --pf-t--global--icon--color--on-brand--hover: var(--pf-t--global--icon--color--inverse);
  --pf-t--global--icon--color--status--danger--default: var(--pf-t--global--color--status--danger--default);
  --pf-t--global--text--color--on-brand--default: var(--pf-t--global--text--color--inverse);
  --pf-t--global--text--color--on-brand--hover: var(--pf-t--global--text--color--inverse);
  --pf-t--global--text--color--placeholder: var(--pf-t--global--text--color--subtle);
}

.pf-v6-c-background-image {
  --pf-v6-c-background-image--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --pf-v6-c-background-image--BackgroundImage: none;
  --pf-v6-c-background-image--BackgroundSize--min-width: 200px;
  --pf-v6-c-background-image--BackgroundSize--width: 60%;
  --pf-v6-c-background-image--BackgroundSize--max-width: 600px;
  --pf-v6-c-background-image--BackgroundSize: clamp(var(--pf-v6-c-background-image--BackgroundSize--min-width), var(--pf-v6-c-background-image--BackgroundSize--width), var(--pf-v6-c-background-image--BackgroundSize--max-width));
}

.pf-v6-c-background-image {
  --pf-v6-c-background-image--BackgroundPosition: bottom right;
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--pf-v6-c-background-image--BackgroundColor);
  background-image: var(--pf-v6-c-background-image--BackgroundImage);
  background-repeat: no-repeat;
  background-position: var(--pf-v6-c-background-image--BackgroundPosition);
  background-size: var(--pf-v6-c-background-image--BackgroundSize);
}

.pf-v6-c-brand {
  --pf-v6-c-brand--Width: auto;
  --pf-v6-c-brand--Height: auto;
}

.pf-v6-c-brand {
  width: var(--pf-v6-c-brand--Width--base);
  height: var(--pf-v6-c-brand--Height--base);
  --pf-v6-c-brand--Width--base: var(--pf-v6-c-brand--Width);
  --pf-v6-c-brand--Height--base: var(--pf-v6-c-brand--Height);
}
@media (min-width: 36rem) {
  .pf-v6-c-brand {
    --pf-v6-c-brand--Width--base: var(--pf-v6-c-brand--Width-on-sm, var(--pf-v6-c-brand--Width));
  }
}
@media (min-width: 48rem) {
  .pf-v6-c-brand {
    --pf-v6-c-brand--Width--base: var(--pf-v6-c-brand--Width-on-md, var(--pf-v6-c-brand--Width-on-sm, var(--pf-v6-c-brand--Width)));
  }
}
@media (min-width: 62rem) {
  .pf-v6-c-brand {
    --pf-v6-c-brand--Width--base: var(--pf-v6-c-brand--Width-on-lg, var(--pf-v6-c-brand--Width-on-md, var(--pf-v6-c-brand--Width-on-sm, var(--pf-v6-c-brand--Width))));
  }
}
@media (min-width: 75rem) {
  .pf-v6-c-brand {
    --pf-v6-c-brand--Width--base: var(--pf-v6-c-brand--Width-on-xl, var(--pf-v6-c-brand--Width-on-lg, var(--pf-v6-c-brand--Width-on-md, var(--pf-v6-c-brand--Width-on-sm, var(--pf-v6-c-brand--Width)))));
  }
}
@media (min-width: 90.625rem) {
  .pf-v6-c-brand {
    --pf-v6-c-brand--Width--base: var(--pf-v6-c-brand--Width-on-2xl, var(--pf-v6-c-brand--Width-on-xl, var(--pf-v6-c-brand--Width-on-lg, var(--pf-v6-c-brand--Width-on-md, var(--pf-v6-c-brand--Width-on-sm, var(--pf-v6-c-brand--Width))))));
  }
}
@media (min-width: 36rem) {
  .pf-v6-c-brand {
    --pf-v6-c-brand--Height--base: var(--pf-v6-c-brand--Height-on-sm, var(--pf-v6-c-brand--Height));
  }
}
@media (min-width: 48rem) {
  .pf-v6-c-brand {
    --pf-v6-c-brand--Height--base: var(--pf-v6-c-brand--Height-on-md, var(--pf-v6-c-brand--Height-on-sm, var(--pf-v6-c-brand--Height)));
  }
}
@media (min-width: 62rem) {
  .pf-v6-c-brand {
    --pf-v6-c-brand--Height--base: var(--pf-v6-c-brand--Height-on-lg, var(--pf-v6-c-brand--Height-on-md, var(--pf-v6-c-brand--Height-on-sm, var(--pf-v6-c-brand--Height))));
  }
}
@media (min-width: 75rem) {
  .pf-v6-c-brand {
    --pf-v6-c-brand--Height--base: var(--pf-v6-c-brand--Height-on-xl, var(--pf-v6-c-brand--Height-on-lg, var(--pf-v6-c-brand--Height-on-md, var(--pf-v6-c-brand--Height-on-sm, var(--pf-v6-c-brand--Height)))));
  }
}
@media (min-width: 90.625rem) {
  .pf-v6-c-brand {
    --pf-v6-c-brand--Height--base: var(--pf-v6-c-brand--Height-on-2xl, var(--pf-v6-c-brand--Height-on-xl, var(--pf-v6-c-brand--Height-on-lg, var(--pf-v6-c-brand--Height-on-md, var(--pf-v6-c-brand--Height-on-sm, var(--pf-v6-c-brand--Height))))));
  }
}

.pf-v6-c-button {
  --pf-v6-c-button--Display: inline-flex;
  --pf-v6-c-button--AlignItems: baseline;
  --pf-v6-c-button--JustifyContent: center;
  --pf-v6-c-button--Gap: var(--pf-t--global--spacer--gap--text-to-element--default);
  --pf-v6-c-button--MinWidth: calc(1em * var(--pf-v6-c-button--LineHeight) + var(--pf-v6-c-button--PaddingBlockStart) + var(--pf-v6-c-button--PaddingBlockEnd));
  --pf-v6-c-button--PaddingBlockStart: var(--pf-t--global--spacer--control--vertical--default);
  --pf-v6-c-button--PaddingInlineEnd: var(--pf-t--global--spacer--action--horizontal--default);
  --pf-v6-c-button--PaddingBlockEnd: var(--pf-t--global--spacer--control--vertical--default);
  --pf-v6-c-button--PaddingInlineStart: var(--pf-t--global--spacer--action--horizontal--default);
  --pf-v6-c-button--Color: var(--pf-t--global--text--color--regular);
  --pf-v6-c-button--LineHeight: var(--pf-t--global--font--line-height--body);
  --pf-v6-c-button--FontWeight: var(--pf-t--global--font--weight--body--default);
  --pf-v6-c-button--FontSize: var(--pf-t--global--font--size--body--default);
  --pf-v6-c-button--BackgroundColor: transparent;
  --pf-v6-c-button--BorderColor: transparent;
  --pf-v6-c-button--BorderWidth: var(--pf-t--global--border--width--action--default);
  --pf-v6-c-button--BorderRadius: var(--pf-t--global--border--radius--pill);
  --pf-v6-c-button--TextDecorationLine: none;
  --pf-v6-c-button--TextDecorationStyle: none;
  --pf-v6-c-button--TransitionDuration: var(--pf-t--global--motion--duration--fade--default);
  --pf-v6-c-button--TransitionTimingFunction: var(--pf-t--global--motion--timing-function--default);
  --pf-v6-c-button--TransitionProperty: color, background-color, border-width, border-color, padding;
  --pf-v6-c-button--hover--BackgroundColor: transparent;
  --pf-v6-c-button--hover--BorderColor: transparent;
  --pf-v6-c-button--hover--BorderWidth: var(--pf-t--global--border--width--action--hover);
  --pf-v6-c-button--hover--TextDecorationLine: none;
  --pf-v6-c-button--hover--TextDecorationStyle: none;
  --pf-v6-c-button--m-primary--Color: var(--pf-t--global--text--color--on-brand--default);
  --pf-v6-c-button--m-primary--BackgroundColor: var(--pf-t--global--color--brand--default);
  --pf-v6-c-button--m-primary__icon--Color: var(--pf-t--global--icon--color--on-brand--default);
  --pf-v6-c-button--m-primary--hover--Color: var(--pf-t--global--text--color--on-brand--hover);
  --pf-v6-c-button--m-primary--hover--BackgroundColor: var(--pf-t--global--color--brand--hover);
  --pf-v6-c-button--m-primary--hover__icon--Color: var(--pf-t--global--icon--color--on-brand--hover);
  --pf-v6-c-button__progress--Color: var(--pf-v6-c-button__icon--Color);
  --pf-v6-c-button--disabled--Color: var(--pf-t--global--text--color--on-disabled);
  --pf-v6-c-button--disabled--BackgroundColor: var(--pf-t--global--background--color--disabled--default);
  --pf-v6-c-button__icon--Color: var(--pf-t--global--icon--color--regular);
  --pf-v6-c-button--hover__icon--Color: var(--pf-t--global--icon--color--regular);
  --pf-v6-c-button__progress--width: calc(var(--pf-t--global--icon--size--lg) + var(--pf-t--global--spacer--sm));
  --pf-v6-c-button__progress--TranslateY: -50%;
  --pf-v6-c-button__progress--TranslateX: 0;
  --pf-v6-c-button__progress--InsetBlockStart: 50%;
  --pf-v6-c-button__progress--InsetInlineStart: var(--pf-t--global--spacer--control--horizontal--default);
  --pf-v6-c-button__progress--Color: var(--pf-v6-c-button__icon--Color);
  --pf-v6-c-button--m-progress--PaddingInlineEnd: calc(var(--pf-t--global--spacer--control--horizontal--default) + var(--pf-v6-c-button__progress--width) / 2);
  --pf-v6-c-button--m-progress--PaddingInlineStart: calc(var(--pf-t--global--spacer--control--horizontal--default) + var(--pf-v6-c-button__progress--width) / 2);
  --pf-v6-c-button--m-in-progress--PaddingInlineEnd: var(--pf-t--global--spacer--control--horizontal--default);
  --pf-v6-c-button--m-in-progress--PaddingInlineStart: calc(var(--pf-t--global--spacer--control--horizontal--default) + var(--pf-v6-c-button__progress--width));
  --pf-v6-c-button--m-block--Display: flex;
  --pf-v6-c-button--m-block--Width: 100%;
}

.pf-v6-c-button {
  position: relative;
  display: var(--pf-v6-c-button--Display);
  gap: var(--pf-v6-c-button--Gap);
  align-items: var(--pf-v6-c-button--AlignItems);
  justify-content: var(--pf-v6-c-button--JustifyContent);
  min-width: var(--pf-v6-c-button--MinWidth);
  padding-block-start: var(--pf-v6-c-button--PaddingBlockStart);
  padding-block-end: var(--pf-v6-c-button--PaddingBlockEnd);
  padding-inline-start: var(--pf-v6-c-button--PaddingInlineStart);
  padding-inline-end: var(--pf-v6-c-button--PaddingInlineEnd);
  font-size: var(--pf-v6-c-button--FontSize, inherit);
  font-weight: var(--pf-v6-c-button--FontWeight, inherit);
  line-height: var(--pf-v6-c-button--LineHeight, inherit);
  color: var(--pf-v6-c-button--Color);
  text-align: center;
  text-decoration: var(--pf-v6-c-button--TextDecorationLine) var(--pf-v6-c-button--TextDecorationStyle);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background-color: var(--pf-v6-c-button--BackgroundColor);
  border: 0;
  border-start-start-radius: var(--pf-v6-c-button--BorderStartStartRadius, var(--pf-v6-c-button--BorderRadius));
  border-start-end-radius: var(--pf-v6-c-button--BorderStartEndRadius, var(--pf-v6-c-button--BorderRadius));
  border-end-start-radius: var(--pf-v6-c-button--BorderEndStartRadius, var(--pf-v6-c-button--BorderRadius));
  border-end-end-radius: var(--pf-v6-c-button--BorderEndEndRadius, var(--pf-v6-c-button--BorderRadius));
  transition-timing-function: var(--pf-v6-c-button--TransitionTimingFunction);
  transition-duration: var(--pf-v6-c-button--TransitionDuration);
  transition-property: var(--pf-v6-c-button--TransitionProperty);
}
.pf-v6-c-button::after {
  position: absolute;
  inset: 0;
  pointer-events: none;
  content: "";
  border: var(--pf-v6-c-button--BorderWidth) solid;
  border-color: var(--pf-v6-c-button--BorderColor);
  border-radius: inherit;
  transition: inherit;
}
.pf-v6-c-button.pf-m-primary {
  --pf-v6-c-button--Color: var(--pf-v6-c-button--m-primary--Color);
  --pf-v6-c-button--BackgroundColor: var(--pf-v6-c-button--m-primary--BackgroundColor);
  --pf-v6-c-button__icon--Color: var(--pf-v6-c-button--m-primary__icon--Color);
  --pf-v6-c-button--hover--Color: var(--pf-v6-c-button--m-primary--hover--Color);
  --pf-v6-c-button--hover--BackgroundColor: var(--pf-v6-c-button--m-primary--hover--BackgroundColor);
  --pf-v6-c-button--hover__icon--Color: var(--pf-v6-c-button--m-primary--hover__icon--Color);
}
.pf-v6-c-button.pf-m-block {
  --pf-v6-c-button--Display: var(--pf-v6-c-button--m-block--Display);
  width: var(--pf-v6-c-button--m-block--Width);
}
.pf-v6-c-button:hover, .pf-v6-c-button:focus {
  --pf-v6-c-button--Color: var(--pf-v6-c-button--hover--Color);
  --pf-v6-c-button--BackgroundColor: var(--pf-v6-c-button--hover--BackgroundColor);
  --pf-v6-c-button--BorderColor: var(--pf-v6-c-button--hover--BorderColor);
  --pf-v6-c-button--BorderWidth: var(--pf-v6-c-button--hover--BorderWidth);
  --pf-v6-c-button__icon--Color: var(--pf-v6-c-button--hover__icon--Color);
  text-decoration: var(--pf-v6-c-button--hover--TextDecorationLine) var(--pf-v6-c-button--hover--TextDecorationStyle);
}
.pf-v6-c-button:disabled {
  pointer-events: none;
}
.pf-v6-c-button:disabled {
  color: var(--pf-v6-c-button--disabled--Color);
  background-color: var(--pf-v6-c-button--disabled--BackgroundColor);
}
.pf-v6-c-button:disabled::after {
  border-color: transparent;
}
.pf-v6-c-button.pf-m-progress {
  --pf-v6-c-button--PaddingInlineEnd: var(--pf-v6-c-button--m-progress--PaddingInlineEnd);
  --pf-v6-c-button--PaddingInlineStart: var(--pf-v6-c-button--m-progress--PaddingInlineStart);
}
.pf-v6-c-button.pf-m-in-progress {
}
.pf-v6-c-button.pf-m-in-progress:not(.pf-m-plain) {
  --pf-v6-c-button--PaddingInlineEnd: var(--pf-v6-c-button--m-in-progress--PaddingInlineEnd);
  --pf-v6-c-button--PaddingInlineStart: var(--pf-v6-c-button--m-in-progress--PaddingInlineStart);
}

.pf-v6-c-button__progress {
  position: absolute;
  inset-block-start: var(--pf-v6-c-button__progress--InsetBlockStart);
  inset-inline-start: var(--pf-v6-c-button__progress--InsetInlineStart);
  line-height: 1;
  color: var(--pf-v6-c-button__progress--Color);
  transform: translate(var(--pf-v6-c-button__progress--TranslateX), var(--pf-v6-c-button__progress--TranslateY));
}
.pf-v6-c-button__progress .pf-v6-c-spinner {
  --pf-v6-c-spinner--Color: currentcolor;
}

:root {
}

.pf-v6-c-form {
  --pf-v6-c-form--GridGap: var(--pf-t--global--spacer--gap--group-to-group--vertical--default);
  --pf-v6-c-form__group--Gap: var(--pf-t--global--spacer--gap--group--vertical);
  --pf-v6-c-form__group--m-action--MarginBlockStart: var(--pf-t--global--spacer--xl);
  --pf-v6-c-form__label--FontSize: var(--pf-t--global--font--size--body--sm);
  --pf-v6-c-form__label--LineHeight: var(--pf-t--global--font--line-height--body);
  --pf-v6-c-form__label--hover--Cursor: pointer;
  --pf-v6-c-form__label-text--FontWeight: var(--pf-t--global--font--weight--body--bold);
  --pf-v6-c-form__label-required--MarginInlineStart: var(--pf-t--global--spacer--xs);
  --pf-v6-c-form__label-required--FontSize: var(--pf-t--global--font--size--body--sm);
  --pf-v6-c-form__label-required--Color: var(--pf-t--global--color--status--danger--default);
  --pf-v6-c-form__helper-text--MarginBlockStart--base: var(--pf-t--global--spacer--xs);
  --pf-v6-c-form__helper-text--MarginBlockStart: var(--pf-v6-c-form__helper-text--MarginBlockStart--base);
}

.pf-v6-c-form {
  display: grid;
  gap: var(--pf-v6-c-form--GridGap);
}

.pf-v6-c-form__group {
  display: flex;
  flex-direction: column;
  gap: var(--pf-v6-c-form__group--Gap);
  min-width: 0;
}
.pf-v6-c-form__group.pf-m-action {
  margin-block-start: var(--pf-v6-c-form__group--m-action--MarginBlockStart);
  overflow: hidden;
}

.pf-v6-c-form__label {
  font-size: var(--pf-v6-c-form__label--FontSize);
  line-height: var(--pf-v6-c-form__label--LineHeight);
}
.pf-v6-c-form__label::selection {
  background-color: none;
}
.pf-v6-c-form__label:not(.pf-m-disabled):hover {
  cursor: var(--pf-v6-c-form__label--hover--Cursor);
}

.pf-v6-c-form__label-text {
  font-weight: var(--pf-v6-c-form__label-text--FontWeight);
}

.pf-v6-c-form__label-required {
  margin-inline-start: var(--pf-v6-c-form__label-required--MarginInlineStart);
  font-size: var(--pf-v6-c-form__label-required--FontSize);
  color: var(--pf-v6-c-form__label-required--Color);
}

.pf-v6-c-form__helper-text {
  margin-block-start: var(--pf-v6-c-form__helper-text--MarginBlockStart);
}

.pf-v6-c-form-control {
  --pf-v6-c-form-control--ColumnGap: var(--pf-t--global--spacer--gap--text-to-element--default);
  --pf-v6-c-form-control--Color: var(--pf-t--global--text--color--regular);
  --pf-v6-c-form-control--FontSize: var(--pf-t--global--font--size--body--default);
  --pf-v6-c-form-control--LineHeight: var(--pf-t--global--font--line-height--body);
  --pf-v6-c-form-control--Resize: none;
  --pf-v6-c-form-control--OutlineOffset: -6px;
  --pf-v6-c-form-control--BorderRadius: var(--pf-t--global--border--radius--small);
  --pf-v6-c-form-control--before--BorderWidth: var(--pf-t--global--border--width--control--default);
  --pf-v6-c-form-control--before--BorderStyle: solid;
  --pf-v6-c-form-control--before--BorderColor: var(--pf-t--global--border--color--default);
  --pf-v6-c-form-control--before--BorderRadius: var(--pf-v6-c-form-control--BorderRadius);
  --pf-v6-c-form-control--after--BorderWidth: var(--pf-t--global--border--width--control--default);
  --pf-v6-c-form-control--after--BorderStyle: solid;
  --pf-v6-c-form-control--after--BorderColor: transparent;
  --pf-v6-c-form-control--BackgroundColor: var(--pf-t--global--background--color--control--default);
  --pf-v6-c-form-control--Width: 100%;
  --pf-v6-c-form-control--inset--base: var(--pf-t--global--spacer--control--horizontal--default);
  --pf-v6-c-form-control--PaddingBlockStart: var(--pf-t--global--spacer--control--vertical--default);
  --pf-v6-c-form-control--PaddingBlockEnd: var(--pf-t--global--spacer--control--vertical--default);
  --pf-v6-c-form-control--PaddingInlineEnd: var(--pf-v6-c-form-control--inset--base);
  --pf-v6-c-form-control--PaddingInlineStart: var(--pf-v6-c-form-control--inset--base);
  --pf-v6-c-form-control--hover--after--BorderWidth: var(--pf-t--global--border--width--control--hover);
  --pf-v6-c-form-control--hover--after--BorderColor: var(--pf-t--global--border--color--hover);
  --pf-v6-c-form-control--m-error--hover--after--BorderColor: var(--pf-t--global--border--color--status--danger--hover);
  --pf-v6-c-form-control--m-placeholder--Color: var(--pf-t--global--text--color--placeholder);
  --pf-v6-c-form-control--m-error--after--BorderWidth: var(--pf-t--global--border--width--control--default);
  --pf-v6-c-form-control--m-error--after--BorderColor: var(--pf-t--global--border--color--status--danger--default);
  --pf-v6-c-form-control--m-error--PaddingInlineEnd: calc(var(--pf-v6-c-form-control__icon--FontSize) + var(--pf-v6-c-form-control--inset--base) + var(--pf-v6-c-form-control--ColumnGap));
  --pf-v6-c-form-control__icon--FontSize: var(--pf-t--global--icon--size--font--body--default);
}

.pf-v6-c-form-control {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: var(--pf-v6-c-form-control--ColumnGap);
  align-items: start;
  width: var(--pf-v6-c-form-control--Width);
  font-size: var(--pf-v6-c-form-control--FontSize);
  line-height: var(--pf-v6-c-form-control--LineHeight);
  resize: var(--pf-v6-c-form-control--Resize);
  background-color: var(--pf-v6-c-form-control--BackgroundColor);
  border-radius: var(--pf-v6-c-form-control--BorderRadius);
}
.pf-v6-c-form-control::before, .pf-v6-c-form-control::after {
  position: absolute;
  inset: 0;
  pointer-events: none;
  content: "";
}
.pf-v6-c-form-control::before {
  border-color: var(--pf-v6-c-form-control--before--BorderColor);
  border-style: var(--pf-v6-c-form-control--before--BorderStyle);
  border-width: var(--pf-v6-c-form-control--before--BorderWidth);
  border-radius: var(--pf-v6-c-form-control--before--BorderRadius);
}
.pf-v6-c-form-control::after {
  border: var(--pf-v6-c-form-control--after--BorderWidth) var(--pf-v6-c-form-control--after--BorderStyle) var(--pf-v6-c-form-control--after--BorderColor);
  border-radius: var(--pf-v6-c-form-control--before--BorderRadius);
}
.pf-v6-c-form-control > :is(input) {
  grid-row: 1/2;
  grid-column: 1/-1;
  padding-block-start: var(--pf-v6-c-form-control--PaddingBlockStart);
  padding-block-end: var(--pf-v6-c-form-control--PaddingBlockEnd);
  padding-inline-start: var(--pf-v6-c-form-control--PaddingInlineStart);
  padding-inline-end: var(--pf-v6-c-form-control--PaddingInlineEnd);
  color: var(--pf-v6-c-form-control--Color);
  background-color: transparent;
  border: none;
  border-radius: var(--pf-v6-c-form-control--BorderRadius);
  outline-offset: var(--pf-v6-c-form-control--OutlineOffset);
  -moz-appearance: none;
  -webkit-appearance: none;
}
.pf-v6-c-form-control > ::placeholder {
  color: var(--pf-v6-c-form-control--m-placeholder--Color);
}
.pf-v6-c-form-control > :is(input) {
  text-overflow: ellipsis;
}
.pf-v6-c-form-control.pf-m-error {
  --pf-v6-c-form-control--PaddingInlineEnd: var(--pf-v6-c-form-control--m-error--PaddingInlineEnd);
  --pf-v6-c-form-control--after--BorderColor: var(--pf-v6-c-form-control--m-error--after--BorderColor);
  --pf-v6-c-form-control--hover--after--BorderColor: var(--pf-v6-c-form-control--m-error--hover--after--BorderColor);
  --pf-v6-c-form-control--after--BorderWidth: var(--pf-v6-c-form-control--m-error--after--BorderWidth);
}
.pf-v6-c-form-control:hover {
  --pf-v6-c-form-control--after--BorderColor: var(--pf-v6-c-form-control--hover--after--BorderColor);
  --pf-v6-c-form-control--after--BorderWidth: var(--pf-v6-c-form-control--hover--after--BorderWidth);
}

.pf-v6-c-helper-text {
  --pf-v6-c-helper-text--Gap: var(--pf-t--global--spacer--xs);
  --pf-v6-c-helper-text--FontSize: var(--pf-t--global--font--size--body--sm);
  --pf-v6-c-helper-text__item-icon--Color: var(--pf-t--global--icon--color--regular);
  --pf-v6-c-helper-text__item-text--Color: var(--pf-t--global--text--color--regular);
  --pf-v6-c-helper-text__item-text--FontWeight: var(--pf-t--global--font--weight--body--default);
  --pf-v6-c-helper-text__item-icon--m-error--Color: var(--pf-t--global--icon--color--status--danger--default);
  --pf-v6-c-helper-text__item-text--m-error--FontWeight: var(--pf-t--global--font--weight--body--bold);
  --pf-v6-c-helper-text__item-icon--MarginInlineEnd: var(--pf-t--global--spacer--xs);
}

.pf-v6-c-helper-text {
  display: grid;
  gap: var(--pf-v6-c-helper-text--Gap);
  font-size: var(--pf-v6-c-helper-text--FontSize);
}

.pf-v6-c-helper-text__item {
  display: flex;
  font-weight: var(--pf-v6-c-helper-text__item-text--FontWeight);
}
.pf-v6-c-helper-text__item.pf-m-error {
  --pf-v6-c-helper-text__item-text--FontWeight: var(--pf-v6-c-helper-text__item-text--m-error--FontWeight);
  --pf-v6-c-helper-text__item-icon--Color: var(--pf-v6-c-helper-text__item-icon--m-error--Color);
}

.pf-v6-c-helper-text__item-icon {
  margin-inline-end: var(--pf-v6-c-helper-text__item-icon--MarginInlineEnd);
  color: var(--pf-v6-c-helper-text__item-icon--Color);
}

.pf-v6-c-helper-text__item-text {
  color: var(--pf-v6-c-helper-text__item-text--Color);
}

.pf-v6-c-login {
  --pf-v6-c-login--PaddingBlockStart: var(--pf-t--global--spacer--lg);
  --pf-v6-c-login--PaddingBlockEnd: var(--pf-t--global--spacer--lg);
  --pf-v6-c-login__container--xl--GridColumnGap: var(--pf-t--global--spacer--3xl);
  --pf-v6-c-login__container--MaxWidth: 31.25rem;
  --pf-v6-c-login__container--xl--MaxWidth: none;
  --pf-v6-c-login__container--PaddingInlineStart: 6.125rem;
  --pf-v6-c-login__container--PaddingInlineEnd: 6.125rem;
  --pf-v6-c-login__container--xl--GridTemplateColumns: 34rem minmax(auto, 34rem);
  --pf-v6-c-login__header--PaddingInlineStart: var(--pf-t--global--spacer--md);
  --pf-v6-c-login__header--PaddingInlineEnd: var(--pf-t--global--spacer--md);
  --pf-v6-c-login__header--xl--MarginBlockStart: var(--pf-t--global--spacer--3xl);
  --pf-v6-c-login__header--c-brand--MarginBlockEnd: var(--pf-t--global--spacer--lg);
  --pf-v6-c-login__header--c-brand--xl--MarginBlockEnd: var(--pf-t--global--spacer--2xl);
  --pf-v6-c-login__main--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --pf-v6-c-login__main--MarginBlockEnd: var(--pf-t--global--spacer--lg);
  --pf-v6-c-login__main--BorderRadius: var(--pf-t--global--border--radius--large);
  --pf-v6-c-login__main-header--PaddingBlockStart: var(--pf-t--global--spacer--2xl);
  --pf-v6-c-login__main-header--PaddingInlineEnd: var(--pf-t--global--spacer--xl);
  --pf-v6-c-login__main-header--PaddingBlockEnd: var(--pf-t--global--spacer--md);
  --pf-v6-c-login__main-header--PaddingInlineStart: var(--pf-t--global--spacer--xl);
  --pf-v6-c-login__main-header--md--PaddingInlineEnd: var(--pf-t--global--spacer--2xl);
  --pf-v6-c-login__main-header--md--PaddingInlineStart: var(--pf-t--global--spacer--2xl);
  --pf-v6-c-login__main-header--ColumnGap: var(--pf-t--global--spacer--md);
  --pf-v6-c-login__main-header--RowGap: var(--pf-t--global--spacer--md);
  --pf-v6-c-login__main-body--PaddingInlineEnd: var(--pf-t--global--spacer--xl);
  --pf-v6-c-login__main-body--PaddingBlockEnd: var(--pf-t--global--spacer--xl);
  --pf-v6-c-login__main-body--PaddingInlineStart: var(--pf-t--global--spacer--xl);
  --pf-v6-c-login__main-body--md--PaddingInlineEnd: var(--pf-t--global--spacer--2xl);
  --pf-v6-c-login__main-body--md--PaddingInlineStart: var(--pf-t--global--spacer--2xl);
  --pf-v6-c-login__main-footer--PaddingBlockEnd: var(--pf-t--global--spacer--3xl);
  --pf-v6-c-login__footer--PaddingInlineStart: var(--pf-t--global--spacer--md);
  --pf-v6-c-login__footer--PaddingInlineEnd: var(--pf-t--global--spacer--md);
}
@media (min-width: 75rem) {
  .pf-v6-c-login {
    --pf-v6-c-login__container--MaxWidth: var(--pf-v6-c-login__container--xl--MaxWidth);
  }
}
@media (min-width: 36rem) {
  .pf-v6-c-login {
    --pf-v6-c-login__header--PaddingInlineEnd: 0;
    --pf-v6-c-login__header--PaddingInlineStart: 0;
  }
}
@media (min-width: 75rem) {
  .pf-v6-c-login {
    --pf-v6-c-login__header--c-brand--MarginBlockEnd: var(--pf-v6-c-login__header--c-brand--xl--MarginBlockEnd);
  }
}
@media (min-width: 75rem) {
  .pf-v6-c-login {
    --pf-v6-c-login__main--MarginBlockEnd: 0;
  }
}
@media (min-width: 48rem) {
  .pf-v6-c-login {
    --pf-v6-c-login__main-header--PaddingInlineEnd: var(--pf-v6-c-login__main-header--md--PaddingInlineEnd);
    --pf-v6-c-login__main-header--PaddingInlineStart: var(--pf-v6-c-login__main-header--md--PaddingInlineStart);
  }
}
@media (min-width: 48rem) {
  .pf-v6-c-login {
    --pf-v6-c-login__main-body--PaddingInlineEnd: var(--pf-v6-c-login__main-body--md--PaddingInlineEnd);
    --pf-v6-c-login__main-body--PaddingInlineStart: var(--pf-v6-c-login__main-body--md--PaddingInlineStart);
  }
}
@media (min-width: 36rem) {
  .pf-v6-c-login {
    --pf-v6-c-login__footer--PaddingInlineEnd: 0;
    --pf-v6-c-login__footer--PaddingInlineStart: 0;
  }
}
@media (min-width: 75rem) {
  .pf-v6-c-login {
  }
}

.pf-v6-c-login {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-block-start: var(--pf-v6-c-login--PaddingBlockStart);
  padding-block-end: var(--pf-v6-c-login--PaddingBlockEnd);
}
@media (min-width: 36rem) {
  .pf-v6-c-login {
    align-items: center;
  }
}

.pf-v6-c-login__container {
  width: 100%;
  max-width: var(--pf-v6-c-login__container--MaxWidth);
}
@media (min-width: 75rem) {
  .pf-v6-c-login__container {
    display: grid;
    grid-template-areas: "main header" "main footer" "main .";
    grid-template-columns: var(--pf-v6-c-login__container--xl--GridTemplateColumns);
    grid-column-gap: var(--pf-v6-c-login__container--xl--GridColumnGap);
    justify-content: center;
    padding-inline-start: var(--pf-v6-c-login__container--PaddingInlineStart);
    padding-inline-end: var(--pf-v6-c-login__container--PaddingInlineEnd);
  }
}

.pf-v6-c-login__header {
  grid-area: header;
  padding-inline-start: var(--pf-v6-c-login__header--PaddingInlineStart);
  padding-inline-end: var(--pf-v6-c-login__header--PaddingInlineEnd);
}
@media (min-width: 75rem) {
  .pf-v6-c-login__header {
    margin-block-start: var(--pf-v6-c-login__header--xl--MarginBlockStart);
  }
}
.pf-v6-c-login__header .pf-v6-c-brand {
  margin-block-end: var(--pf-v6-c-login__header--c-brand--MarginBlockEnd);
}

.pf-v6-c-login__main {
  grid-area: main;
  align-self: start;
  margin-block-end: var(--pf-v6-c-login__main--MarginBlockEnd);
  background-color: var(--pf-v6-c-login__main--BackgroundColor);
  border-radius: var(--pf-v6-c-login__main--BorderRadius);
}
.pf-v6-c-login__main > :first-child:not(.pf-v6-c-login__main-header) {
  padding-block-start: var(--pf-v6-c-login__main-header--PaddingBlockStart);
}
.pf-v6-c-login__main > :last-child:not(.pf-v6-c-login__main-footer) {
  padding-block-end: var(--pf-v6-c-login__main-footer--PaddingBlockEnd);
}

.pf-v6-c-login__main-header {
  display: grid;
  grid-template-columns: 100%;
  row-gap: var(--pf-v6-c-login__main-header--RowGap);
  column-gap: var(--pf-v6-c-login__main-header--ColumnGap);
  align-items: center;
  padding-block-start: var(--pf-v6-c-login__main-header--PaddingBlockStart);
  padding-block-end: var(--pf-v6-c-login__main-header--PaddingBlockEnd);
  padding-inline-start: var(--pf-v6-c-login__main-header--PaddingInlineStart);
  padding-inline-end: var(--pf-v6-c-login__main-header--PaddingInlineEnd);
}
@media (min-width: 48rem) {
  .pf-v6-c-login__main-header {
    grid-template-columns: 1fr auto;
  }
}

.pf-v6-c-login__main-body {
  padding-block-end: var(--pf-v6-c-login__main-body--PaddingBlockEnd);
  padding-inline-start: var(--pf-v6-c-login__main-body--PaddingInlineStart);
  padding-inline-end: var(--pf-v6-c-login__main-body--PaddingInlineEnd);
}

.pf-v6-c-login__footer {
  grid-area: footer;
  padding-inline-start: var(--pf-v6-c-login__footer--PaddingInlineStart);
  padding-inline-end: var(--pf-v6-c-login__footer--PaddingInlineEnd);
}

.pf-v6-c-spinner {
  --pf-v6-c-spinner--diameter: var(--pf-t--global--icon--size--2xl);
  --pf-v6-c-spinner--Width: var(--pf-v6-c-spinner--diameter);
  --pf-v6-c-spinner--Height: var(--pf-v6-c-spinner--diameter);
  --pf-v6-c-spinner--Color: var(--pf-t--global--icon--color--brand--default);
  --pf-v6-c-spinner--AnimationDuration: 1.4s;
  --pf-v6-c-spinner--AnimationTimingFunction: linear;
  --pf-v6-c-spinner--StrokeWidth: 10;
  --pf-v6-c-spinner__path--AnimationTimingFunction: ease-in-out;
  --pf-v6-c-spinner--m-md--diameter: var(--pf-t--global--icon--size--lg);
}

.pf-v6-c-spinner {
  width: var(--pf-v6-c-spinner--Width);
  height: var(--pf-v6-c-spinner--Height);
  overflow: hidden;
  animation: pf-v6-c-spinner-animation-rotate calc(var(--pf-v6-c-spinner--AnimationDuration) * 2) var(--pf-v6-c-spinner--AnimationTimingFunction) infinite;
}
.pf-v6-c-spinner.pf-m-md {
  --pf-v6-c-spinner--diameter: var(--pf-v6-c-spinner--m-md--diameter);
}

.pf-v6-c-spinner__path {
  width: 100%;
  height: 100%;
  stroke: var(--pf-v6-c-spinner--Color);
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  stroke-linecap: round;
  stroke-width: var(--pf-v6-c-spinner--StrokeWidth);
  transform-origin: 50% 50%;
  animation: pf-v6-c-spinner-animation-dash var(--pf-v6-c-spinner--AnimationDuration) var(--pf-v6-c-spinner__path--AnimationTimingFunction) infinite;
}

@keyframes pf-v6-c-spinner-animation-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pf-v6-c-spinner-animation-dash {
  0% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }
  15% {
    stroke-width: calc(var(--pf-v6-c-spinner__path--StrokeWidth) - 4);
  }
  40% {
    stroke-dasharray: 220;
    stroke-dashoffset: 150;
  }
  100% {
    stroke-dashoffset: 280;
    transform: rotate(720deg);
  }
}

.pf-v6-c-title {
  --pf-v6-c-title--FontFamily: var(--pf-t--global--font--family--heading);
  --pf-v6-c-title--m-3xl--LineHeight: var(--pf-t--global--font--line-height--heading);
  --pf-v6-c-title--m-3xl--FontSize: var(--pf-t--global--font--size--heading--xl);
  --pf-v6-c-title--m-3xl--FontWeight: var(--pf-t--global--font--weight--heading--default);
  --pf-v6-c-title--m-md--LineHeight: var(--pf-t--global--font--line-height--heading);
  --pf-v6-c-title--m-md--FontSize: var(--pf-t--global--font--size--heading--xs);
  --pf-v6-c-title--m-md--FontWeight: var(--pf-t--global--font--weight--heading--default);
}

.pf-v6-c-title {
  font-family: var(--pf-v6-c-title--FontFamily);
  word-break: break-word;
}
.pf-v6-c-title.pf-m-3xl {
  font-size: var(--pf-v6-c-title--m-3xl--FontSize);
  font-weight: var(--pf-v6-c-title--m-3xl--FontWeight);
  line-height: var(--pf-v6-c-title--m-3xl--LineHeight);
}
.pf-v6-c-title.pf-m-md {
  font-size: var(--pf-v6-c-title--m-md--FontSize);
  font-weight: var(--pf-v6-c-title--m-md--FontWeight);
  line-height: var(--pf-v6-c-title--m-md--LineHeight);
} .pf-v6-u-hidden {
  display: none !important;
}