<head>
    <title>
      {% if page.layout == 'errors' %}
        {% raw %}{{ .Locale.Error }}{% endraw %}
      {% else %}
        {% raw %}{{ .Locale.LogIn }}{% endraw %}
      {% endif %}
       · {{ collection.name }}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if collection.label == 'okd' %}
      {%- include favicon-okd.html %}
    {% else %}
      {%- include favicon-openshift.html %}
    {% endif %}

    {%- capture styles -%}
      {% case page.layout %}
      
      {% when 'errors' %}
        {% include styles/errors.css %}
      {% when 'login' %}
        {% include styles/login.css %}

        .error-placeholder {
          min-height: 21px;
        }
      {% when 'providers' %}
        {% include styles/providers.css %}
      
        .idp {
          margin: 24px 0 0;
        }
      {% endcase %}

      {% include fonts.scss %}

      {% if collection.label != 'okd' %}
      .pf-v6-c-background-image {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg enable-background='new 0 0 192 145' version='1.1' viewBox='0 0 192 145' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle type='text/css'%3E .rh%7Bfill:%23A3A3A3;%7D%3C/style%3E%3Cpath class='rh' opacity='0.2' d='m127.5 83.5c12.5 0 30.6-2.6 30.6-17.5 0-1.2 0-2.3-0.3-3.4l-7.4-32.4c-1.7-7.1-3.2-10.3-15.7-16.6-9.7-5-30.8-13.1-37.1-13.1-5.9 0-7.6 7.5-14.5 7.5-6.7 0-11.6-5.6-17.9-5.6-6 0-9.9 4.1-12.9 12.5 0 0-8.4 23.7-9.5 27.2-0.2 0.6-0.2 1.4-0.2 1.9-0.1 9.3 36.2 39.5 84.9 39.5m32.5-11.4c1.7 8.2 1.7 9.1 1.7 10.1 0 14-15.7 21.8-36.4 21.8-46.8 0-87.7-27.4-87.7-45.5 0-2.8 0.6-5.4 1.5-7.3-16.8 0.8-38.6 3.8-38.6 23 0 31.5 74.6 70.3 133.7 70.3 45.3 0 56.7-20.5 56.7-36.6-0.1-12.8-11-27.2-30.9-35.8'/%3E%3C/svg%3E") !important;
      }
      {% endif %}

      .pf-v6-c-brand {
        max-height: 48px;

        @media (min-width: 1200px) {
          max-height: 60px;
        }
      }
    {%- endcapture -%}
    <style>
      {{ styles | scssify }}
    </style>
  </head>
