<!DOCTYPE html>
<html lang="en-us" data-test-id="login" data-test="login">
  {% include "head.html" %}

  <body>
    <div class="pf-v6-c-background-image"></div>
    <div class="pf-v6-c-login">
      <div class="pf-v6-c-login__container">
        <header class="pf-v6-c-login__header">
          {% include "logos.html" %}
        </header>
        {{ content }}
      </div>
    </div>

    <script>
      const updateTheme = () => {
        document.documentElement.classList.toggle(
          "pf-v6-theme-dark",
          window.matchMedia('(prefers-color-scheme: dark)').matches
        );
        document.documentElement.classList.toggle(
          "pf-v6-theme-high-contrast",
          window.matchMedia('(prefers-contrast: more)').matches
        );
      };

      updateTheme();

      window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateTheme);
      window.matchMedia('(prefers-contrast: more)').addEventListener('change', updateTheme);
    </script>
  </body>
</html>
