<!DOCTYPE html>
<html lang="en-us">
  <title>{{site.title}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%- capture styles -%}
    {%- include fonts.scss -%}
    {%- include patternfly/sass-utilities/functions.scss -%}
    {%- include patternfly/sass-utilities/colors.scss -%}
    {%- include patternfly/sass-utilities/scss-variables.scss -%}
    {%- include patternfly/sass-utilities/mixins.scss -%}
    {%- include patternfly/_variables.scss -%}
    {%- include patternfly/_shield-inheritable.scss -%}
    {%- include patternfly/_shield-noninheritable.scss -%}
    body {
      margin: 20px;
    }
  {%- endcapture -%}
  <style>
    {{ styles | scssify }}
  </style>
  <body class="pf-m-redhat-font">
    <div class="pf-c-page">
      {{ content }}
    </div>
  </body>
</html>
