<!DOCTYPE html>
<html lang="en-us">
  <title>OpenShift OAuth Templates</title>
  {% include "head.html" %}

  <body>
    {{ content }}
    <script>
      const updateTheme = () => {
        document.documentElement.classList.toggle(
          "pf-v6-theme-dark",
          window.matchMedia('(prefers-color-scheme: dark)').matches
        );
      };

      updateTheme();

      window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateTheme);
    </script>
  </body>

</html>
