---
layout: compress
---

{%- include collection.html -%}
<!DOCTYPE html>
<html lang="en-us" data-test-id="login">
  {% include head.html %}
  <body class="pf-m-redhat-font">
    <div class="pf-c-login">
      <div class="pf-c-login__container">
        <header class="pf-c-login__header">
          {% include logos.html %}
        </header>
        <main class="pf-c-login__main">
          <div class="pf-c-login__main-body">
            {% raw %}{{ if eq (len .Providers) 1}}
              <a class="pf-c-button pf-m-primary pf-m-block" href="{{ (index .Providers 0).URL }}">{{ .Locale.LogIn }}</a>
            {{ else }}
              <h1 class="pf-c-title pf-m-3xl">{{ .Locale.LogInWith }}</h1>
              <ul>
                {{ $logInWith := .Locale.LogInWith }}
                {{ range $provider := .Providers }}
                  <li class="idp">
                    <a href="{{$provider.URL}}" class="pf-c-button pf-m-secondary pf-m-block" title="{{ $logInWith }} {{$provider.Name}}">{{$provider.Name}}</a>
                  </li>
                {{ end }}
              </ul>
            {{ end }}{% endraw %}
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
